/* NexoMoveis - CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px; /* Default system font size */
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-bg-base);
  color: var(--color-text-main);
  line-height: 1.5;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color var(--transition-normal), color var(--transition-normal);
  overflow-x: hidden; /* Impede a rolagem horizontal na página inteira */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul, ol {
  list-style: none;
}
